body {
  background-color: rgb(118, 169, 199);
}

.app {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}

.tweet {
  border: 2px solid black;
  height: 250px;
  width: 300px;
  background: white;
  border-radius: 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn {
  margin-top: 15px;
  height: 30px;
  width: 70px;
  background:rgb(118, 169, 199);
  color: white;
}